* {
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #ffffff;
  --secondary-text-color: #98c1d9;
  --accent-color: #18e9d9;
  --accent-color-dark: #2a9d8f;
  --btn-color:#2294ed ;
  --btn-color-dark :#1d69a3 ;
}
body {
font-family: 'Poppins', sans-serif;
color:var(--primary-text-color) ;
background-color: #111111;
}
p{
    font-family: 'Roboto', sans-serif;
    color:var(--secondary-text-color) ;
    line-height: 1.4rem ;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin-top: 16px;
}

.flex {
    display:flex ;
    align-items: center; 
  
}
.container {
    max-width: 1180px ; 
    margin-inline:auto;
    overflow:hidden ;
}
nav{
    background-color: rgb(8, 8, 8);
    box-shadow: 0 0 4px #000000;
    position: fixed; 
    top:0 ;
    z-index :99 ;
    left:0 ;
    right:0 ;
}
.main-nav {
    justify-content: space-between;
    /* padding: 8px 0 ;  */
}
.company-logo img {
    width:70px ;
    filter: invert(1);

    /* height:100px ;  */
    /* invert(1) ;  */
}
.nav-links ul {
    gap: 30px ;  
}
.nav-item.active {
    color:var(--accent-color) ;
}
.hover-link {
    cursor:pointer ;
    /* color:black ;  */
}
.hover-link:hover {
  color:  var(--secondary-text-color) ;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 0 0 currentColor;
}
.hover-link:active {
    color:#186d5d;
}
.search-bar {
    height:32px ;
    gap:8px ;
}
.news-input{
    width: 200px ; 
    height: 100% ;
    padding-inline: 12px; 
    border-radius: 4px; 
    color:var(--secondary-text-color); 
    /* border: 2px solid #bbd0e2 ;  */
    font-family: 'Roboto', sans-serif;
    border: 2px solid #333333;
    background-color: #222222;
}
.search-btton{
    background-color: var(--btn-color);
    color:white ; 
    padding:8px 24px ;
    border:none ;
    border-radius :4px  ;
    cursor:pointer ;
    font-family: 'Roboto', sans-serif;
}
.search-btton:hover {
    background-color: var(--btn-color-dark);
}
.tl:hover {
    box-shadow: 0 2px 2px gray;
}
/* //main container  */

main {
    padding-block: 20px ;
    margin-top:80px ;
  
}
.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap :20px ;
    align-items: start;

}
.card {
    width:360px ;
    min-height:400px ;
    box-shadow:  0 0 4px #000000;
    border-radius: 4px;
    cursor:pointer ;
    background-color: #222222;
    overflow:hidden ;
    transition: transform 0.3s ease-in-out;
  transform-origin: center;
    position: relative;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  .card:hover {
    box-shadow: 1px 1px 8px #000000;
    background-color: #333333;
    transform: scale(1.05) perspective(800px) rotateX(5deg);
  }
  
  .card:hover::before {
    opacity: 1;
  }
/* .card:hover {
    box-shadow: 1px 1px 8px  #d4ecff;
    background-color:#f9fdff ;
    transform: translateY(-2px);
} */
.card-header img {
    width:100% ;
    height: 180px ;
    object-fit: cover;
}
.card-content {
    padding: 12px;
}
.know {
    margin-left: 110px ;
    margin-bottom:10px ;
}
.news-source {
    margin-block:12px ;
}
.br {
    border-radius: 100%;
}